extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Oprah Huang

        p.lead.text-light
          | Web Developer, PHP Developer and Designer

        .portfolio-bio
          p
            | I come from a small country 'Taiwan' and have worked as a designer for over five years. During the work, I had some issues communicating with developers, and couldn't get the visual design that I wanted. Furthermore, I just wondered that good idea if someone could understand the design and development both. At that moment, I decided and was interested to learn web developments or android developments, yet I'd never started.
            br
            br
            | I started concerning to learn something new skills different from my design field when I lived in Canada. Vancouver has good resources to learn about developments. That's a good starting spot and good chances. I have learned a lot of knowledge from college to improve my portfolio and build my new career. Plus, I understand how different methods to design the UI part and create the development work.
            br
            br
            | My goal is to become a web developer or app developer in the beginning. And then I can become a full stack developer, and work in different countries.
            br
            br
            | Thanks for reading, and do something awesome today!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li Node.js
          li Express.js / PUG
          li Java
          li C#
          li PHP / MySQL
          li SQL / MSSQL / SQLite
          li HTML5 / CSS3
          li Android Development
          li GitHub / Git
          li Adobe Suites
          
        h6 Contact Info

        ul
          li 236-986-0000
          li huangy41@students.douglascollege.ca

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://github.com/oprahca' target='_blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  